<div class="container">
        <h1>Character Cards</h1>
        <div class="row">
            {{#each characters}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top" alt="{{name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{id}} {{name}}</h5>
                            <p class="card-text">
                                <strong>Species:</strong> {{species}}<br>
                                <strong>Gender:</strong> {{gender}}
                            </p>

                            <form action="/rickAndMorty" method="POST">
                            <input type="hidden" name="characterId" value="{{id}}">
                            <button type="submit" class="btn btn-primary">Add to my Home Page</button>
                        </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


